// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');

//icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';
@import './bootstrap-rtl.css';

/* GLOBAL STYLES */
body {
    font-family: 'Cairo', 'Roboto', 'Tahoma', sans-serif;
    direction: rtl;
}


.card-body{
    background-color: white;
}

.main-bg {
    background-color: $body-bg;
}


.navbar-nav{
    a.active{
        color:blue !important
    }
}
